
#header
{
	display:flex;
	background-color:white;
	justify-content:space-around;
	height:95px;
	align-items:center;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

	< A REMETTRE position:fixed;
        top: 0; /* vaut mieux fixer les valeurs par défaut pour ne pas avoir de mauvaises surprises */
        left: 0;
        right: 0; > POUR FIXER LE HEADER

}
.bouton, .bouton_inscription
{
	color:black;
	font-size:20px;
	font-family:Poppins;
	letter-spacing:1px;
	font-weight:500;
}
.bouton:hover
{
	text-decoration:underline;
}
.my-btn {
  font-size:20px;
  text-decoration:none;
  font-family:Poppins;
  background:#FFF14F;
  color:black;
  padding:5px 20px 5px 20px;
 border-radius:3px;
  font-weight: 500;
  letter-spacing:1px;
  
}
.my-btn:hover
{
 background:black;
 color:#FFF14F; 
 text-decoration:none;
}
#banner
{
	display:flex;
	justify-content:center;
	align-items:center;
	height:300px;
	background: url(BANNER/CitizenKane@2x.png) no-repeat center fixed;
	linear-gradient(20deg,rgba(255,255,255,0.6),rgba(0,0,0,0.6));
	margin:0px;
	padding:0;
	background-size: cover;
}
#catalogue
{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:20px;
}
.texte_banner
{
	display:flex;

	color:black;
	font-size:50px;
	 letter-spacing:1px;
	 text-align:center;
}
.my-btn_catalogue
{
  font-size:20px;
  text-decoration:none;
  font-family:Poppins;
  background:#FFF14F;
  color:black;
  padding:5px 20px 5px 20px;
 border-radius:3px;
  font-weight: 600;
  letter-spacing:1px;
 }
.carte
{

	background-color:red;
	height:240px;
	width:180px;
	margin-top:20px;


}
#serpico, #aboutdesouffle, #mlemaudit, #lavieestbelle, #memento, #uhuf
{
	height:100%;
	width:100%;
}
.container
{
	align-items:center;
	justify-content:center;
}
.bouton_touslesfilms
{
	position:relative;
	position:300px;
	color:black;
	font-family:Poppins;
	text-decoration:none;
	margin-top:8px;
	font-weight:500;
}
