
#header
{
	display:flex;
	background-color:white;
	justify-content:space-around;
	height:95px;
	align-items:center;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

	< A REMETTRE position:fixed;
        top: 0; /* vaut mieux fixer les valeurs par défaut pour ne pas avoir de mauvaises surprises */
        left: 0;
        right: 0; > A REMETTRE

}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf') format('truetype'),

}
@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.otf') format('otf'),
    

}
.bouton, .bouton_inscription
{
	color:black;
	font-size:20px;
	font-family:Poppins;
	letter-spacing:1px;
	font-weight:500;
}
.bouton:hover
{
	text-decoration:underline;
}
.my-btn {
  font-size:20px;
  text-decoration:none;
  font-family:Poppins;
  background:#FFF14F;
  color:black;
  padding:5px 20px 5px 20px;
 border-radius:3px;
  font-weight: 500;
  letter-spacing:1px;
  
}
.my-btn:hover
{
 background:black;
 color:#FFF14F; 
 text-decoration:none;
}
#banner
{
	display:flex;
	justify-content:center;
	align-items:center;
	height:300px;
	background: url(BANNER/CitizenKane@2x.png) no-repeat center fixed;
	linear-gradient(20deg,rgba(255,255,255,0.6),rgba(0,0,0,0.6));
	margin:0px;
	padding:0;
	background-size: cover;
}
#catalogue
{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:20px;
}
.texte_banner
{
	display:flex;

	color:black;
	font-size:50px;
	 letter-spacing:1px;
	 text-align:center;
}
.my-btn_catalogue
{
  font-size:20px;
  text-decoration:none;
  font-family:Poppins;
  background:#FFF14F;
  color:black;
  padding:5px 20px 5px 20px;
 border-radius:3px;
  font-weight: 600;
  letter-spacing:1px;
 }
.carte
{

	background-color:red;
	height:240px;
	width:180px;
	margin-top:20px;


}
#serpico, #aboutdesouffle, #mlemaudit, #lavieestbelle, #memento, #uhuf
{
	height:100%;
	width:100%;
}
.container
{
	align-items:center;
	justify-content:center;
}
.bouton_touslesfilms a
{
	color:black;
	font-family:Poppins;
	text-decoration:underline;
	margin-top:8px;
	font-weight:500;
	margin-left:911px;
}
.bouton_touslesfilms a:hover
{
	text-decoration:none;
	color:black;
}
.carte_prix
{
	background-color:#FCFCFC;
	width:350px;
	height:550px;

}
.carte_prix_jaune
{
	background-color:#FFF14F;
	width:100%;
	height:200px;
	font-size:100px;
	text-align:center;
	padding-top:20px;
	font-family: Metropolis;
	font-weight:200;

}
#etudiant
{
	text-align:center;
	font-size:30px;
	font-family:Metropolis;
	font-weight:600;
	margin-top:10px;

}
.points
{
	text-align:center;
	font-family:Metropolis;
	font-size:20px;
	margin-top:40px;
	line-height:50px;

}
.my-btn_abonner {
  font-size:20px;
  text-decoration:none;
  font-family:Poppins;
  background:black;
  color:#FFF14F;
  padding:5px 20px 5px 20px;
 border-radius:3px;
  font-weight: 500;
  letter-spacing:1px;

  
}
.my-btn_abonner:hover
{
 background:#FFF14F;

 color:black;
 text-decoration:none;
}
.bouton_abonner
{
	display:flex;
	margin-top:25px;
	  text-align:center;
	  justify-content:center;
}
body
{
	background-color:red;
}
#mois
{
	font-size:20px;
	display:flex;
	margin-top:-30px;
	margin-left:220px;
}
.cartes_abonnement
{
;
	width:100%;
	display:flex;
	flex-direction:row;


}
.footer
{
	background-color:#1B1B1B;
	height:200px;
	width:100%;
	


}
.conteneur
{
	flex-direction:row;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
}
.colonne_1 a, .colonne_2 p, .colonne_3 a
{

	color:white;
	text-decoration:none;
	font-size:14px;
	font-family:Poppins;
	letter-spacing:1px;
	line-height:40px;

}
.colonne_1 a:hover, .colonne_3 a:hover
{

text-decoration:underline;
color:white;
}
.colonne_1, .colonne_3
{
	margin-top:40px;
}

.colonne_2 p
{
	font-weight:600;
	text-decoration:none;
}

.placeholder
{
	width:300px;
	height:30px;
	font-style:italic;
	font-family:Poppins, Arial;
	font-size:13px;
	align-items:center;

}
.footer_icons img
{
	height:30px;
	margin-left:60px;


}
.conteneur_fonctionnement
{
	display:flex;
	background-color:white;
	margin-top:0px;
	height:300px;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:wrap;
	font-size:15px;
	font-family:Poppins, Arial;
	letter-spacing:1px;
	align-items:center;


}
.fonctionnement_1
{
	background-color:
	justify-content:center;

}
.fonctionnement_2
{
	background-color:
}
.fonctionnement_3
{
	background-color:
}
.conteneur_fonctionnement img
{
	width:100px;
	padding-bottom:20px;
}
.bouton a
{
	color:black;
	text-decoration:none;
}
.bouton a:hover
{
	color:black;
